::ng-deep .modal-lg {
    max-width: 93% !important;
    max-height: 93% !important;
    margin: 0.75rem auto !important;
}

::ng-deep .lg-outer {
    z-index: 1056 !important;
}

::ng-deep .lg-backdrop {
    z-index: 1055 !important;
}

.session-btn {
    align-items: center;
    padding-left: 26px;
    width: 40%;
    height: 49px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 40px;
    color: #F4F4F4;
    background-color: #de5246;
    display: flex;
  }

.session-btn .btn {
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 49px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: #F4F4F4;
}

#modal-gallery {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
