:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.fill {
  width: 100%;
  height: 100%;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  box-shadow: none !important;
}

.btn-custom {
  color: black;
  background-color: #fff;
  outline-color: #fff !important;
  border-color: #fff !important;
}

.btn-custom:hover {
  background-color: #eee !important;
  outline-color: #eee !important;
  border-color: #eee !important;
}

.btn-custom:target,
.btn-custom:active,
.btn-custom:visited {
  background-color: #eee !important;
  outline-color: #eee !important;
  border-color: #eee !important;
}

.mode-control {
  position: absolute;
  width: 80px;
  display: flex;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: rgba(218, 223, 225, 0.8) !important;
  z-index: 2;
  background-color: #fff;
}

.help-icon {
  color: rgba(149, 165, 166, 1);
  cursor: pointer;
  position: absolute;
  left: 84px;
  top: 10px;
  z-index: 100;
}