.settings-container {
  margin: 20px;
}

.settings-section {
  margin-bottom: 20px;
}

.divider {
  border: 0;
  height: 1px;
  background: #97a97c;
  margin: 20px 0;
}

.input-group {
  display: flex;
  align-items: center;
}
  
.input-label {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
  
.aligned-icon {
  vertical-align: middle;
  margin-left: 4px;
}
  
.custom-slider {
  flex: 1;
  margin-right: 8px;
}
  
mat-form-field {
  flex: 1;
  margin-right: 8px;
}

.custom-icon {
  color: rgba(149, 165, 166, 1) !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame, 
::ng-deep .mat-checkbox .mat-checkbox-background,
::ng-deep .mat-checkbox.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox .mat-checkbox-checkmark-path {
    background-color: rgba(149, 165, 166, 1) !important;
    border-color: rgba(149, 165, 166, 1) !important;
}

::ng-deep .mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(151, 169, 124, 0.1) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #97a97c !important;
    border-color: #97a97c !important;
}

::ng-deep .mat-checkbox-inner-container {
    color: #97a97c !important;
}

::ng-deep .mat-checkbox-label {
    color: rgba(0, 0, 0, 1) !important;
    font-size: 16px;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(151, 169, 124, 0.2) !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #97a97c !important;
}

::ng-deep .mat-checkbox.mat-accent .mat-checkbox-frame {
    border-color: #97a97c !important;
}

::ng-deep .mat-slider-track-fill {
  background-color: #97a97c !important;
}

::ng-deep .mat-slider-thumb {
  background-color: #97a97c !important;
}

::ng-deep .mat-slider-tick-active {
  background-color: #97a97c !important;
}

::ng-deep .mat-slider-thumb-label {
  background-color: #97a97c !important;
}

::ng-deep .mat-datepicker-toggle {
  color: #97a97c !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: rgb(151, 169, 124, .5) !important;
  color: #fff;
}

::ng-deep .mat-calendar-body-today {
  background-color: rgb(151, 169, 124, .3) !important;
}

@media (hover: hover) {
  ::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
      background-color: rgb(151, 169, 124, .2) !important;
  }
}
