.hover-image {
    max-width: 64px;
    max-height: 64px;
}

.help-icon {
    color: rgba(149, 165, 166, 1);
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: calc(46% + 118px);
    z-index: 100;
}

.legend .bar-search { background-color: #97a97c; }
.legend .interface { background-color: #7c97a9; }
.legend .set { background-color: #977ca9; } 
.legend .selected-node { background-color: #ffcc00; } 
.legend .parent-node { background-color: #ffffff; border: 3px solid #ff0000; }


.legend { 
    list-style: none;
    position: absolute;
    bottom: 0px;
    left: -24px;
}

.legend li { 
    display: flex;
    margin-right: 10px;
    clear: both;
}

.legend span { 
    border: 1px solid #ccc;
    width: 14px;
    height: 14px;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 7px;
}