@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import '~lightgallery/css/lightgallery';
@import '~lightgallery/css/lg-zoom.css';
@import '~lightgallery/css/lg-thumbnail.css';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/translucent.css';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'mapbox-gl/dist/mapbox-gl.css'; 
@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';

/* You can add global styles to this file, and also import other style files */
.fill {
    position: relative;
    width: 100%;
    height: 100%;
}


.tippy-box.transparent-background {
    background-color: transparent !important;
    box-shadow: none !important; 
}

.tippy-box.transparent-background .tippy-content {
    padding: 0 !important; 
}
