.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

:host ::ng-deep .mapboxgl-ctrl-attrib,
:host ::ng-deep .mapboxgl-ctrl-logo,
:host ::ng-deep .mapboxgl-compact,
:host ::ng-deep .mapboxgl-ctrl-bottom-left,
:host ::ng-deep .mapboxgl-ctrl-bottom-right {
  display: none !important;
}

:host ::ng-deep .mapboxgl-control-container {
  display: none !important;
}


