.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: auto;
  touch-action: none;
  overflow: hidden;
  max-height: 100%;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host ::ng-deep .mapboxgl-ctrl-attrib,
:host ::ng-deep .mapboxgl-ctrl-logo,
:host ::ng-deep .mapboxgl-compact,
:host ::ng-deep .mapboxgl-ctrl-bottom-left,
:host ::ng-deep .mapboxgl-ctrl-bottom-right {
  display: none !important;
}

:host ::ng-deep .mapboxgl-control-container .mapboxgl-ctrl {
  display: none !important;
}

:host ::ng-deep .mapboxgl-canvas-container,
:host ::ng-deep .mapboxgl-canvas {
  pointer-events: auto !important;
  cursor: grab;
  max-height: 100% !important;
}

:host ::ng-deep .mapboxgl-map {
  width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  overflow: hidden !important;
}

:host ::ng-deep .mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: grab;
}

:host ::ng-deep .mapboxgl-canvas-container.mapboxgl-interactive:active {
  cursor: grabbing;
}